## **Financial Data**

---

In [1]:
import pandas_datareader as pdr

Using https://fred.stlouisfed.org/docs/api/api_key.html, i have registered for a free service that is available to extract data from fred, you can generate your own api key from above link

In [25]:
"""It is used below to access and create url according to my api and getting data using requests library"""
fred_api_key = "<31ccfe1b1dbc684b134714a9133717fa>"

In [13]:
def get_fred_data(param_list, start_date, end_date):
    df = pdr.DataReader(param_list, "fred", start_date, end_date)
    return df.reset_index()

In [17]:
series = "FEDFUNDS"
# get data for series
df = get_fred_data(param_list=[series], start_date="2000-01-01", end_date="2022-11-30")

In [18]:
df.shape

(275, 2)

In [19]:
df.tail(15)

          DATE  FEDFUNDS
260 2021-09-01      0.08
261 2021-10-01      0.08
262 2021-11-01      0.08
263 2021-12-01      0.08
264 2022-01-01      0.08
265 2022-02-01      0.08
266 2022-03-01      0.20
267 2022-04-01      0.33
268 2022-05-01      0.77
269 2022-06-01      1.21
270 2022-07-01      1.68
271 2022-08-01      2.33
272 2022-09-01      2.56
273 2022-10-01      3.08
274 2022-11-01      3.78

In [21]:
import yfinance as yf

data = yf.download(tickers="NFLX", period="1d", interval="5m")

[*********************100%***********************]  1 of 1 completed

In [24]:
"""above query downloaded today's data with 5m frequency"""
data.shape

(31, 6)

In [33]:
series = "CABPPRIVSA"
df_housing_data = get_fred_data(param_list=[series], start_date="2000-01-01", end_date="2022-11-30")

In [34]:
df_housing_data.shape

(274, 2)

In [38]:
import investpy

In [43]:
df = investpy.get_stock_historical_data(stock='AAPL',
                                        country='United States',
                                        from_date='01/01/2010',
                                        to_date='01/01/2020')

ConnectionError: ERR#0015: error 403, try again later.

In [51]:
"""Its not working"""
#data = pdr.get_data_yahoo("NFLX")
#data.info()

'Its not working'

In [46]:
BTC = yf.Ticker("BTC-USD")
BtcData = BTC.history(period="5D")
BtcData.tail(2)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-12-06,16975.238281,17091.863281,16939.921875,17089.503906,19889922369,0,0
2022-12-07,17086.486328,17106.656250,16767.955078,16829.044922,20829939712,0,0

In [47]:
fx_data = yf.download(tickers="JPYAUD=X", period="1d", interval="15m")

[*********************100%***********************]  1 of 1 completed

In [48]:
fx_data.shape

(89, 6)

In [52]:
ticker = "UBER"
UberFundamentals = yf.Ticker(ticker)
#print(UberFundamentals.info.keys())
print(UberFundamentals.info["freeCashflow"])
print(UberFundamentals.info["priceToBook"])

181000000
8.410322