In [20]:
import pandas as pd
import numpy as np
import numpy_financial as nf

In [21]:
def find_monthly_amount(principal, annual_rate, years):
    """
    Computes monthly payment for a given loan_balance
    
    Args:
        principal (float) : Loan balance
        annual_rate (float) : applicable annualized interest rate
        years (int) : number of years left in mortgage
    
    Returns:
        emi amount (float)
    """
    monthly_rate = annual_rate / 12
    nper = years * 12
    
    return nf.pmt(monthly_rate, nper, -principal, 0, when='end')

In [27]:
def fixed_rate_mortgage_ammortization_schedule(principal, monthly_emi, rate, years):
    """
    Computes a mortgage schedule
    
    Args:
        principal (float) : Loan balance
        monthly_emi (float) : monthly payout
        rate (float) : annualized IR
        years (int) : time frame
        
    Returns:
        pandas DataFrame of a payment structure
    """
    columns = ['Fixed Payment Amount', 'Principal Paydown', 'Interest Applied', 'Loan Balance']
    df = pd.DataFrame(0, index=np.arange(years * 12 + 1), columns=columns)
    df.iloc[0]['Loan Balance'] = principal
    for i in range(1, len(df)):
        df.loc[i, 'Fixed Payment Amount'] = monthly_emi
        df.loc[i, 'Interest Applied'] = (rate / 12) * df.loc[i - 1, 'Loan Balance']
        df.loc[i, 'Principal Paydown'] = df.loc[i, 'Fixed Payment Amount'] - df.loc[i, 'Interest Applied']
        df.loc[i, 'Loan Balance'] = df.loc[i - 1, 'Loan Balance'] - df.loc[i, 'Principal Paydown']
        
    return df

In [28]:
principal = 1000000
annual_rate = 0.04
years_mortgage = 30
monthly_emi = find_monthly_amount(principal, annual_rate, years_mortgage)
df_30 = fixed_rate_mortgage_ammortization_schedule(principal, monthly_emi, annual_rate, years_mortgage)

In [30]:
principal = 1000000
annual_rate = 0.025
years_mortgage = 20
monthly_emi = find_monthly_amount(principal, annual_rate, years_mortgage)
df_20 = fixed_rate_mortgage_ammortization_schedule(principal, monthly_emi, annual_rate, years_mortgage)

In [38]:
ir_data = pd.read_csv('mortgage_rate.txt', sep="\t")

In [39]:
ir_data

      Year counter        DATE  MORTGAGE30US
0                1    1/5/1990          9.83
1                1   1/12/1990          9.80
2                1   1/19/1990          9.90
3                1   1/26/1990         10.05
4                2    2/2/1990         10.17
...            ...         ...           ...
1613           372   12/3/2020          2.71
1614           372  12/10/2020          2.71
1615           372  12/17/2020          2.67
1616           372  12/24/2020          2.66
1617           372  12/31/2020          2.67

[1618 rows x 3 columns]